$main-color: rgb(180, 78, 157);
$darken-main-color: darken($main-color, 20%);
$lighten-main-color: lighten($main-color, 10%);
$cairo-color: rgb(162, 91, 37);
$istanbul-color:#6594c5;
$cairo-image: url(../images/journey-cairo.jpg);
$istanbul-image: url(../images/journey-istanbul.jpg);


